<h1>Lista de Procurações</h1>
  <%= form_tag warrants_path, class: 'form-inline', :method => 'get' do %>
    <div class="form-group mb-2">
      <label for="controle" class="sr-only">Número de controle</label>
      <%= text_field_tag :control_number, params[:control_number], 
        class: "form-control text-uppercase pl-3 mr-2", id: 'controle', placeholder: 'Número de controle' %>
    </div>  
    <%= submit_tag "Pesquisar", class: 'btn btn-outline-secondary mb-2' %>
  <% end %>

<table class="table table-hover table-responsive-sm">
  <thead class="thead-dark">
    <tr>
      <th>Data de Lavratura</th>
      <th>Livro</th>
      <th>Folha Inicial</th>
      <th>Folha Final </th>
      <th>Controle</th>
      <th>Situação</th>
      <th>Observação</th>
      <th>Data de Finalização</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @warrants.each do |warrant| %>
      <tr>
        <td><%= warrant.warrant_date %></td>
        <td><%= warrant.book %></td>
        <td><%= warrant.first_page %></td>
        <td><%= warrant.last_page %></td>
        <td><%= warrant.control_number %></td>
        <td>
          <% if warrant.situation == 'Pendente'%>
            <span class="badge badge-warning"><i class="fa fa-exclamation-circle"></i> <%= warrant.situation %> </span>
          <% else %>
            <span class="badge badge-success"><i class="far fa-check-circle"></i> <%= warrant.situation %> </span>
          <% end %>
        </td>
        <td><%= warrant.observation %></td>
        <td><%= warrant.end_date %></td>
        <td colspan="3">
          <%= link_to edit_warrant_path(warrant), class: 'btn btn-sm btn-primary' do %>
            <i class="fa fa-edit"></i>
          <% end %>
          <%= link_to warrant, method: :delete, data: { confirm: 'Tem certeza que deseja excluir' },
          class: 'btn btn-sm btn-danger' do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <% if @warrants_count > 5 %>
  <%== pagy_bootstrap_nav(@pagy).html_safe%>
  <% end %>
<br>

<%= link_to 'Nova Procuração', new_warrant_path, class: 'btn btn-success'%>
<%= link_to 'Exportar Pendentes', export_csv_warrants_path, class: 'btn btn-info' %>
