<h1>Procurações</h1>

<%= form_tag warrants_path, class: 'form-inline', :method => 'get' do %>
  <div class="form-group mb-2">
    <label for="livro" class="sr-only">Livro</label>
    <%= text_field_tag :book, params[:book], 
      class: "form-control", id: 'livro', placeholder: 'Livro' %>
  </div>

  <div class="form-group mx-sm-3 mb-2">
    <label for="folha-inicial" class="sr-only">Folha Inicial</label>
    <%= text_field_tag :first_page, params[:first_page], 
      class:"form-control", id: 'folha-initial', placeholder:'Folha Inicial' %>
  </div>  
  <%= submit_tag "Search", class: 'btn btn-outline-secondary mb-2' %>
<% end %>

<table class="table table-hover table-responsive-sm">
  <thead class="thead-dark">
    <tr>
      <th>Data de Lavratura</th>
      <th>Livro</th>
      <th>Folha Inicial</th>
      <th>Folha Final </th>
      <th>Número de Controle</th>
      <th>Situação</th>
      <th>Data de Finalização</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @warrants.each do |warrant| %>
      <tr>
        <td><%= warrant.warrant_date %></td>
        <td><%= warrant.book %></td>
        <td><%= warrant.first_page %></td>
        <td><%= warrant.last_page %></td>
        <td><%= warrant.control_number %></td>
        <td>
          <% if warrant.situation == 'Falta assinatura'%>
            <span class="badge badge-warning"><i class="fa fa-exclamation-circle"></i> <%= warrant.situation %> </span>
          <% else %>
            <span class="badge badge-success"><i class="far fa-check-circle"></i> <%= warrant.situation %> </span>
          <% end %>
          
        </td>
        <td><%= warrant.end_date %></td>
        
        <td>
          <%= link_to 'Editar', edit_warrant_path(warrant), class: 'btn btn-sm btn-outline-primary' %>
        </td>
        <td>
          <%= link_to 'Excluir', warrant, method: :delete, data: { confirm: 'Tem certeza que deseja excluir' },
          class: 'btn btn-sm btn-outline-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_bootstrap_nav(@pagy).html_safe%>
<br>

<%= link_to 'Nova Procuração', new_warrant_path, class: 'btn btn-outline-success'%>
