<p id="notice"><%= notice %></p>

<p>
  <strong>Warrant date:</strong>
  <%= @warrant.warrant_date %>
</p>

<p>
  <strong>Book:</strong>
  <%= @warrant.book %>
</p>

<p>
  <strong>First page:</strong>
  <%= @warrant.first_page %>
</p>

<p>
  <strong>Last page:</strong>
  <%= @warrant.last_page %>
</p>

<p>
  <strong>Control number:</strong>
  <%= @warrant.control_number %>
</p>

<p>
  <strong>Situation:</strong>
  <%= @warrant.situation %>
</p>

<p>
  <strong>End date:</strong>
  <%= @warrant.end_date %>
</p>

<%= link_to 'Edit', edit_warrant_path(@warrant) %> |
<%= link_to 'Back', warrants_path %>
