<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Controle de procurações</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
    
  </head>
<body class="overflow-hidden">
  <header>
      <nav class="navbar navbar-dark bg-dark mb-3">
         <%= link_to 'Controle de procurações', warrants_path, class: 'navbar-brand' %>      
      </nav>
  </header>

    <div class="container-fluid">
      <main role="main" class="pb-3">
        <%= yield %>
      </main>
    </div>  
</body>
</html>
